* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(143, 139, 139);
    
}
header {
    background-image: linear-gradient(to bottom, rgb(43, 42, 42), black);
    padding: 15px;
}
img {
    height: 40px;
    width: 140px;
}
main {
    background-color: white;
    max-width: 700px;
    margin: auto;
    padding: 60px
}
table {
    border: 1px;
    border-collapse: collapse;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    width: 270px;
}
caption {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}
tbody {
    border: 1px solid #cccbcb;
    padding: 5px;
}
tbody > tr:nth-child(2n) {
    background-color: #cccbcb;
}
td {
    padding: 3px;
}
label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}
input {
    padding: 5px;
    border-radius: 4px;
}
button {
    background-image: linear-gradient(to top, #0202b3, #292993);
    color: white;
    border: none;
    font-weight: bolder;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 15px, 1px, 1px, black;
}
div {
    margin-top: 15px;
}
h1 {
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    margin-bottom: 25px;
}
h4 {
    margin-bottom: 15px;
}